<div class="container-fluid">
    <nav class="navbar navbar-light navbar-vertical navbar-expand-xl">
        <div class="d-flex align-items-center">
          <div class="toggle-icon-wrapper">
            <button class="btn navbar-toggler-humburger-icon navbar-vertical-toggle" data-bs-toggle="tooltip" data-bs-placement="left" aria-label="Toggle Navigation" data-bs-original-title="Toggle Navigation">
              <span class="navbar-toggle-icon">
                <span class="toggle-line"></span>
              </span>
            </button>
          </div>
          <a class="navbar-brand">
            <div class="d-flex align-items-center py-3"><img class="me-2" src="../assets/img/icons/spot-illustrations/falcon.png" alt="" width="40"><span class="font-sans-serif">falcon</span> </div>
          </a>
        </div>
        <div class="collapse navbar-collapse" id="navbarVerticalCollapse">
          <div class="navbar-vertical-content scrollbar">
            <ul class="navbar-nav flex-column mb-3" id="navbarVerticalNav">
              <li class="nav-item">
                <a (click)="filterByActiveFile()" class="nav-link" role="button">
                  <div class="d-flex align-items-center">
                    <span class="nav-link-icon">
                      <span class="fas fa-chart-pie"></span>
                    </span>
                    <span style="font-size: 16px; " class="nav-link-text ps-1">الكل</span>
                  </div>
                </a>
              </li>
              <li class="nav-item" *ngFor="let category of categories; let i = index" value="{{i}}">
                <a (click)="filterDataByCat(category)" class="nav-link dropdown-indicator" href='#dash{{i}}'  role="button" data-bs-toggle="collapse" aria-expanded="false" aria-controls="dashboard">
                    <div class="d-flex align-items-center">
                      <span class="nav-link-icon">
                        <span class="fas fa-chart-pie"></span>
                      </span>
                      <span style="font-size: 16px;" class="nav-link-text ps-1">{{category?.Category_name}}</span>
                    </div>
                </a>
                <ul class="nav collapse" id="dash{{i}}">
                  <li class="nav-item" *ngFor="let subcategory of category.subcategories">
                    <a class="nav-link " role="button" >
                      <div class="d-flex align-items-center">
                        <span (click)="filterDataBySub(category,subcategory)" class="nav-link-text ps-1">{{subcategory.SubCategory_name}}</span>
                      </div>
                    </a>
                  </li>
                </ul>  
              </li>
            </ul>
          </div>
        </div>
    </nav>
    <div class="content">
        <nav class="navbar navbar-light navbar-glass navbar-top navbar-expand navbar-glass-shadow">
          <div class="d-flex align-items-center">
            <button class="btn navbar-toggler-humburger-icon navbar-toggler me-1 me-sm-3" type="button" data-bs-toggle="collapse"
               data-bs-target="#navbarVerticalCollapse" aria-controls="navbarVerticalCollapse" aria-expanded="true" 
              aria-label="Toggle Navigation">
             <span class="navbar-toggle-icon">
                <span class="toggle-line"></span>
             </span>
            </button>
          </div>
          <ul class="navbar-nav  align-items-center flex-row d-none  d-lg-block">
            <li class="nav-item pt-1">
              <div class="search-box d-flex">
                <form class="position-relative " data-bs-toggle="search" >
                  <input class="form-control search-input fs--1 " type="search" [ngModelOptions]="{standalone: true}" 
                  placeholder="بحث بإسم القرار" [(ngModel)]="fileName" (keyup.enter)="filterByFileName()" />
                  <span class="fas fa-search search-box-icon"></span>
                </form>
                <form class="position-relative" data-bs-toggle="search">
                    <input class="form-control search-input fs--1 " type="search"  [ngModelOptions]="{standalone: true}"
                    placeholder="بحث بتاريخ القرار"  [(ngModel)]="fileYear" (keyup.enter)="filterByFileYear()"/>
                    <span class="fas fa-search search-box-icon"></span>
                </form>
                </div>
                <div class="search-box d-flex">
                <form class="position-relative " data-bs-toggle="search">
                      <input class="form-control search-input fs--1" type="search" [ngModelOptions]="{standalone: true}"
                      placeholder="بحث برقم القرار " [(ngModel)]="fileDocNo" (keyup.enter)="filterByFileDocNo()"/>
                      <span class="fas fa-search search-box-icon"></span>
                </form>
                <form class="position-relative" data-bs-toggle="search" >
                  <input class="form-control search-input fs--1 " type="search" [ngModelOptions]="{standalone: true}"
                   placeholder="بحث بوصف القرار" [(ngModel)]="fileTxt" (keyup.enter)="filterByFileTxt()"/>
                  <span class="fas fa-search search-box-icon"></span>
                </form>
              </div> 
            </li>
          </ul>
          <ul class="navbar-nav navbar-nav-icons ms-auto flex-row align-items-center">
            <li class="nav-item pt-1">
              <a *ngIf="(user.role_id === 1|| user.role_id === 2)" class="nav-link pe-3" role="button"  aria-haspopup="true" aria-expanded="false" >
              <button (click)="showInactiveFiles()" class=" btn btn-warning rounded-pill btn-sm" type="button">
                Inactive Files
              </button></a>
            </li>
            <li class="nav-item pt-1">
              <a *ngIf="(user.role_id === 1|| user.role_id === 2)" class="nav-link pe-3" role="button" routerLink="/createFile" aria-haspopup="true" aria-expanded="false" >
              <button class=" btn btn-secondary rounded-pill btn-sm" type="button">
                 <span class="p-1 bi-plus-circle-fill mt-auto"></span>إضافة ملف جديد
              </button></a>
            </li>
            <!-- <li class="nav-item dropdown pt-2 pe-2">
              <a class="nav-link" id="navbarDropdownNotification" role="button" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false" >
                <span style="font-weight:bolder ;font-size: 16px;">إسم القرار</span>
              </a>
              <div class="dropdown-menu dropdown-caret dropdown-caret dropdown-menu-end py-0" aria-labelledby="navbarDropdownNotification">
                <div class="bg-white dark__bg-1000 rounded-2 py-2">
                  <a class="dropdown-item"  *ngFor="let file of files">
                    <div (click)="filterByFileName(file.file_name)" class="row">
                      <div class=" col-6" style="cursor: pointer;">{{file.file_name}} </div>
                    </div>
                  </a>   
                </div>
              </div>
            </li>
            <li class="nav-item dropdown pt-2 pe-2">
              <a class="nav-link" id="navbarDropdownNotification" role="button" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false" >
                <span style="font-weight:bolder ;font-size: 16px;"> السنة</span>
              </a>
              <div class="dropdown-menu dropdown-caret dropdown-caret dropdown-menu-end py-0" aria-labelledby="navbarDropdownNotification">
                <div class="bg-white dark__bg-1000 rounded-2 py-2">
                  <a class="dropdown-item"  *ngFor="let file of files">
                    <div (click)="filterByYear(file.Year)" class="row">
                      <div class=" col-6" style="cursor: pointer;">{{file.Year}} </div>
                    </div>
                  </a>   
                </div>
              </div>
            </li>
            <li class="nav-item dropdown pt-2 pe-2">
              <a class="nav-link" id="navbarDropdownNotification" role="button" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false" >
                <span style="font-weight:bolder ;font-size: 16px;">وصف القرار</span>
              </a>
              <div class="dropdown-menu dropdown-caret dropdown-caret dropdown-menu-end py-0" aria-labelledby="navbarDropdownNotification">
                <div class="bg-white dark__bg-1000 rounded-2 py-2">
                  <a class="dropdown-item"  *ngFor="let file of files">
                    <div (click)="filterByTxt(file.txt)" class="row">
                      <div class=" col-6" style="cursor: pointer;">{{file.txt}} </div>
                    </div>
                  </a>   
                </div>
              </div>
            </li>
            <li class="nav-item dropdown pt-2 pe-2">
              <a class="nav-link" id="navbarDropdownNotification" role="button" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false" >
                <span style="font-weight:bolder ;font-size: 16px;">رقم القرار</span>
              </a>
              <div class="dropdown-menu dropdown-caret dropdown-caret dropdown-menu-end py-0" aria-labelledby="navbarDropdownNotification">
                <div class="bg-white dark__bg-1000 rounded-2 py-2">
                  <a class="dropdown-item"  *ngFor="let file of files">
                    <div (click)="filterByDocNo(file.Doc_No)" class="row">
                      <div class=" col-6" style="cursor: pointer;">{{file.Doc_No}} </div>
                    </div>
                  </a>   
                </div>
              </div>
            </li> -->
            
            <li *ngIf="user.role_id == 1 || user.role_id == 2||user.role_id == 3" class="nav-item dropdown pt-2 pe-2">
              <a class="nav-link" id="navbarDropdownNotification" role="button" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false" >
                <span style="font-weight:bolder ;font-size: 16px;">الدولة</span>
              </a>
              <div class="dropdown-menu dropdown-caret dropdown-caret dropdown-menu-end py-0" aria-labelledby="navbarDropdownNotification">
                <div class="bg-white dark__bg-1000 rounded-2 py-2">
                  <a class="dropdown-item"  *ngFor="let country of countries">
                    <div (click)="filterDataByCountry(country.id)" class="row">
                      <div class=" col-6" style="cursor: pointer;">{{country.country_name}} </div>
                      <div class=" col-6">
                        <img style="width: 20px;height: 10px;justify-self:self-end;" [src]="country.flag">
                      </div>
                    </div>
                  </a>   
                </div>
              </div>
            </li>
            <li class="nav-item dropdown pt-2 pe-2">
              <a class="nav-link" id="navbarDropdownNotification" role="button" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false" >
                <span style="font-weight:bolder ;font-size: 16px;">حالة القرار</span>
              </a>
              <div class="dropdown-menu dropdown-caret dropdown-caret dropdown-menu-end py-0" aria-labelledby="navbarDropdownNotification">
                <div class="bg-white dark__bg-1000 rounded-2 py-2">
                  <a class="dropdown-item"  *ngFor="let status of allStatus">
                    <div (click)="filterByStatus(status.status_id)" class="row">
                      <div class=" col-6" style="cursor: pointer;">{{status.status_name}} </div>
                    </div>
                  </a>   
                </div>
              </div>
            </li>
            <li class="nav-item pt-2">
              <a class="nav-link pe-3" >
                <button disabled class="btn btn-info me-1 mb-1 rounded-pill btn-sm">
                  {{roles?.role_name}}
                </button>
              </a>
            </li>
            <li class="nav-item dropdown pt-1">
              <a class="nav-link pe-0 ps-2" id="navbarDropdownUser" role="button" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              مرحبا <span style="font-weight: bolder;">{{user.first_name}}</span> 
              </a>
              <div class="dropdown-menu  dropdown-caret dropdown-menu-end py-0" aria-labelledby="navbarDropdownUser">
                <div class="bg-white dark__bg-1000 rounded-2 py-2">
                  <a *ngIf="(user.role_id == 1)" class="dropdown-item" routerLink="/adminPage"> المستخدمين </a>
                  <div *ngIf="(user.role_id == 1)" class="dropdown-divider"></div>
                  
                  <a routerLink="/change_password" class="dropdown-item">تغيير كلمة المرور</a>
                  <div class="dropdown-divider"></div>
                  <a class="dropdown-item" href="#" (click)="logout()">تسجيل الخروج</a>
                </div>
              </div>
            </li>
          </ul>
        </nav>
        <div class="card mb-3">
          <div class="card-header">
          </div>
          <div class="card-body pt-0">
            
              <div id="tableExample3">
                <div class="table-responsive scrollbar">
                  <table class="table table-bordered table-striped fs--1 mb-0">
                    <thead class="bg-200 text-900">
                      <tr>
                        <th class="sort" data-sort="Doc_No">رقم القرار </th>
                        <th class="sort" data-sort="Year">السنة</th>
                        <th class="sort" data-sort="file_name">إسم القرار </th>
                        <th class="sort" data-sort="file_name"> الدولة </th>
                        <th class="sort" data-sort="file_name"> Authorized file </th>
                        <th> عرض القرار </th>
                      </tr>
                    </thead>
                    <tbody class="list">
                      <tr *ngFor="let item of getDataForPage()">
                        <td class="Doc_No" >{{item.Doc_No}}</td>
                        <td class="Year">{{item.Year}}</td>
                        <td class="file_name">{{item.file_name}}</td>
                        <td class="Country"><img style="width: 30px;height: 20px;" [src]="item.Country.flag"/></td>
                        <td class="isAuthorized">
                          <span *ngIf="item.isAuthorized; else unauthorized">
                            <i class="bi bi-star" style="color: red;"></i>
                          </span>
                          <ng-template #unauthorized>
                            <i class="bi bi-star" style="color: gray;"></i>
                          </ng-template>
                        </td>
                        <td>
                            <button mat-raised-button [disabled]="(item.isAuthorized && user.role_id === 4)"
                            [matTooltipDisabled]="!(item.isAuthorized && user.role_id === 4)" [matTooltip]="disabledTooltip"
                            class="btn btn-outline-secondary " [routerLink]="['/file_details',item.File_data_id]">
                            preview
                          </button>
                        </td>
                      </tr>
                    </tbody>
                  </table>
                  <!-- <div class="noFiles" *ngIf="totalItems ==0">
                    <h1>لا توجد ملفات</h1>
                  </div> -->
                </div>
                <div class="d-flex justify-content-center mt-3">
                  <nav class="nael">
                    <ul>
                      <li *ngIf="page > 1">
                        <a (click)="goToPage(page - 1)"><i class="bi bi-chevron-right"></i></a>
                      </li>
                      <li *ngFor="let pg of pages">
                        <a [class.active]="pg === page" (click)="goToPage(pg)">{{ pg }}</a>
                      </li>
                      <li *ngIf="page < totalPages">
                        <a (click)="goToPage(page + 1)"><i class="bi bi-chevron-left"></i></a>
                      </li>
                    </ul>
                  </nav>                  
                </div> 
                <div class="noFiles" *ngIf="loadedData && totalItems ==0">
                  <h3>لا توجد ملفات</h3>
                </div>
              </div>
          </div>
        </div>
        <footer class="footer">
          <div class="row g-0 justify-content-between fs--1 mt-4 mb-3">
            <div class="col-12 col-sm-auto text-center">
              <p class="mb-0 text-600">Thank you for creating with Falcon <span class="d-none d-sm-inline-block">| </span><br class="d-sm-none"> 2022 © <a href="https://themewagon.com">Themewagon</a></p>
            </div>
            <div class="col-12 col-sm-auto text-center">
              <p class="mb-0 text-600">v3.14.0</p>
            </div>
          </div>
        </footer>
      </div>
</div>
