<main class="main" id="top">
  <div class="container">
    <div class="content">
    
    <nav class="navbar navbar-light navbar-glass navbar-top navbar-expand">
        <button
          class="btn navbar-toggler-humburger-icon navbar-toggler me-1 me-sm-3"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#navbarVerticalCollapse"
          aria-controls="navbarVerticalCollapse"
          aria-expanded="false"
          aria-label="Toggle Navigation"
        >
          <span class="navbar-toggle-icon"
            ><span class="toggle-line"></span
          ></span>
        </button>
        <a class="navbar-brand me-1 p-1 me-sm-3" routerLink="/home">
          <!-- <div class="d-flex align-items-center">
            <img
              class="me-2"
              src="../../assets/img/icons/spot-illustrations/falcon.png"
              alt=""
              width="40"
            /><span class="font-sans-serif">falcon</span>
          </div> -->
          <button class="d-flex align-items-center p-3 btn btn-outline-dark btn-sm">العودة إلي الصفحة الرئيسية</button>

        </a>
      </nav>
    <div class="card mb-5">
      <div class="card-header">
        <div class="row flex-between-end">
          <div class="col-auto align-self-center">
            <h3 class="mb-0" data-anchor="data-anchor" id="basic-form">
              إضافة ملف جديد
            </h3>
          </div>
        </div>
      </div>
      <div class="card-body bg-light">
        <div class="tab-content">
          
            <form [formGroup]="fileForm" (ngSubmit)="onFileUpload()">
            <div class="row">
              <div class="mb-4 col-2 text-center">
                <label class="form-label" for="file_name" style="font-size: large;">إسم القرار</label>
                </div>
                <div class="col-4">
                <input
                  required
                  formControlName="file_name"
                  class="form-control"
                  type="text"/>
              </div>
              <div class=" col-2 text-center">
                <label class="form-label" for="Doc_No" style="font-size: large;">رقم القرار</label>
                </div>
                <div class="col-4">
                <input
                  required
                  formControlName="Doc_No"
                  class="form-control"
                  type="text"/>
              </div>
              </div>
              <div class="row mb-1">
              <div class=" col-2 text-center">
                <label class="form-label" for="txt_Ar" style="font-size: large;"> كلمات مفتاحية عربي</label>
              </div>
              <div class="col-4">
                <input
                required
                formControlName="txt_Ar"
                  class="form-control"
                  type="text"/>
              </div>
              <div class=" col-2 text-center">
                <label class="form-label" for="txt_Eng" style="font-size: large;">كلمات مفتاحية إنجليزي</label>
                </div>
                <div class="col-4">
                <input 
                required
                formControlName="txt_Eng"
                class="form-control"  
                type="text" />
              </div>
              </div>
              <div class="mb-1 row text-center">
                <div style="width: 16.7%;">
                  <label  class="form-label" for="Year" style="font-size: large;">سنة إصدار القرار</label>
                </div>
                <div style="width: 83.3%;">
                  <div class="p-fluid p-grid p-formgrid mb-4">
                    <div class="p-field p-col-10">
                        <p-calendar
                          formControlName="Year"
                          view="year"
                          dateFormat="yy"
                          [readonlyInput]="false"
                          inputId="pickYear">
                        </p-calendar>
                    </div>
                  </div>
                </div>
              </div>
              <div class="row mb-4">
                <div class="col-2 text-center">
                 <label class="form-label" for="file_Path" style="font-size: large;">إختيار الملف</label>
                </div>
                <div class="col-10">
                <input #fileInput [ngClass]="{ 'is-invalid': submitted && f['file'].errors }"
                [required]="true"  
                (change)="onImageChangeFromFile($event)"
                class="form-control" 
                formControlName="file"
                type="file" 
                accept="application/pdf"/>
                <div *ngIf="(f['file'].touched || submitted) && f['file'].errors" class=" alert alert-danger">
                  <div *ngIf="f['file'].errors?.['required']">This Field Is Required And Only Pdf File Allowed</div>
                  <div *ngIf="f['file'].errors?.['max']">File size must be less than 10MB.</div>
                </div>
                </div>
              </div>
              <div class="mb-4 row">
                <div class="col-2 text-center">
                  <label class="form-label" for="file_desc" style="margin-top: 125px;font-size: large;"> وصف القرار</label>
                </div>
                <div class="col-10">
                  <quill-editor
                    [styles]="{height: '250px', backgroundColor:'#faf8f8'}"
                    formControlName="file_desc"
                    [modules]="quillEditorModules">
                  </quill-editor>
                </div>
              </div>
              <div class="mb-4 row">
                <div class="col-2 text-center">
                <label class="form-label" for="status_id" style="font-size: large;">حالة القرار</label>
                </div>
                <div class="col-4"> 
                <ng-select
                  required
                  formControlName="status_id"
                  class="form-control ngSelect"
                  [clearOnBackspace]="true"
                  [searchable]="true"	
                   [clearable]="true">
                  <ng-option *ngFor="let status of allStatus" [value]="status.status_id" >{{status.status_name}}</ng-option>
                </ng-select>
                </div>
              
              <div class="col-2 text-center">
                <label class="form-label" for="Country_id" style="font-size: large;"> الدولة</label>
              </div>
              <div class="col-4">
                <ng-select
                  required
                  formControlName="Country_id"
                  class="form-control ngSelect">
                  [clearOnBackspace]="true"
                  [searchable]="true"	
                  <ng-option *ngFor="let country of countries" [value]="country.id" >{{country.country_name}}</ng-option>
                </ng-select>
                </div>
              </div>
              <div class="mb-2 row">
                <div class="col-2 text-center">
                <label class="form-label" for="Category_id" style="font-size: large;"> فئة القرار الرئيسية</label>
                </div>
                <div class="col-4">
                <ng-select [(ngModel)]="selectedCategory"
                  required
                  [clearOnBackspace]="true"
                  [searchable]="true"	
                  (change)="onChange()"
                  formControlName="Category_id"
                  class="form-control ngSelect">
                  <ng-option *ngFor="let category of categories" [value]="category.cat_id" >{{category.Category_name}}</ng-option>
                </ng-select>
                </div>
              
              <div class="col-2 text-center">
                <label class="form-label" for="subCategories" style="font-size: large;">إختيار فئة القرار الفرعية</label>
                </div>
                <div class="col-4">
                <ng-select class="form-control ngSelect" [multiple]="true"
                  required
                  [searchable]="true"	[clearable]="true"
                  formControlName="subCategories" [closeOnSelect]="false">
                  <ng-option *ngFor="let sub of subCategoriesArr" [value]="sub.subcat_id" >{{sub.SubCategory_name}}</ng-option>
                </ng-select>
                </div>
              </div>
              <div class="row mb-5">
                <div class="col-2 text-center">
                  <label class="form-label" for="isAuthorized" style="font-size: large;"> Authorized file</label>
                </div>
                <div class="col-2">
                  <input  formControlName="isAuthorized" type="checkbox" (change)="onIsAuthorizedChange($event)"/>
                </div>
              </div> 
              <div class="d-flex justify-content-between">
                <button class="btn btn-primary" [disabled]="!fileForm.valid" type="submit" >حفظ</button>
                <button class="btn btn-danger ms-4" type="button" (click)="cancel()">إلغاء</button>
              </div>
            </form>
        </div>
      </div>
    </div>
    <footer class="footer">
        <div class="row g-0 justify-content-between fs--1 mt-4 mb-3">
          <div class="col-12 col-sm-auto text-center">
            <p class="mb-0 text-600">Thank you for creating with Falcon <span class="d-none d-sm-inline-block">| </span><br class="d-sm-none"> 2022 © <a href="https://themewagon.com">Themewagon</a></p>
          </div>
          <div class="col-12 col-sm-auto text-center">
            <p class="mb-0 text-600">v3.14.0</p>
          </div>
        </div>
    </footer>
    </div>
    </div>
</main>

